.forrester-waves-container

  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/home/forrester-ci-wave-graphic.svg", alt: "GitLab ci cd forrester wave graphic svg" }
    .wave-row-content
      %img.forrester-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p CI Wave Report
      %p “GitLab supports development teams with a well-documented installation and configuration processes, an easy-to-follow UI, and a flexible per-seat pricing model that supports self service. GitLab’s vision is to serve enterprise-scale, integrated software development teams that want to spend more time writing code and less time maintaining their tool chain.”
      %a.btn.cta-btn.accent.margin-top20{ href: '/analysts/forrester-ci' } Read more

  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/home/forrester-vsm-graphic.png", alt: "GitLab vsm forrester new wave graphic png" }
    .wave-row-content
      %img.forrester-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p VSM Report
      %p GitLab is a "Strong Performer" in The Forrester New Wave: Value Stream Management Tools, Q3 2018. According to the report, “GitLab combines end-to-end capability with the power of open source. GitLab offers a DevOps tool for each step of the software development process. Top-level views sitting across these tools provide its VSM functionalities."
      %a.btn.cta-btn.accent.margin-top20{ href: '/analysts/forrester-vsm', target: "_blank" } Read more
